@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}



<style>
    #about ul {
        list-style: none;
        padding: 0;
    }
</style>

<div class="content ">

    <div class="header">
        <h2 style="text-align :left;">Thomas Rosales - About Me</h2>
    </div>

    <br />

    <div id="about" class="pure-g">

        <div style="text-align: center" class="pure-u-1-1 pure-u-sm-1-3">
            <img width="90%" src="img/about.jpg" />
        </div>

        <div class="pure-u-1-1 pure-u-sm-1-2">
            <div style="text-align: justify">
                Born in Fairfax, Virginia. From a Bolivian culture background.<br />
                I joined the digital nomad lifestyle in the summer of 2017, because I felt that I wanted to do something different in my life
                and I believe the future is more remote work availability.
                I usually work from coffee shops or anywhere where WiFi is reliable.
                I have a passion for web development. I enjoy creating content that people would benefit for or enjoy.
                <br /> <br />
                Check out <a target="_blank" href="https://workfrom.co/awesome/42066/scouted">places I've scouted for remote work!</a>
            </div>
            @*<ul>
                    <li><strong>Role:</strong> Web Developer - Digital Nomad</li>
                    <li><strong>Born:</strong> Fairfax, Virginia.</li>
                    <li><strong>Languajes:</strong> English and Spanish</li>
                    <li><strong>Interests:</strong> Coffee Shops, bubble tea, cryptocurrency, websites, cats.</li>
                </ul>*@



        </div>
    </div>
    <br />    <br />
    <hr />

    <p>


        This site is built with &lt;3 using <a target="_blank" href="http://purecss.io/">pure v0.5.0</a> based on the Responsive Side Menu layout and ASP.NET Core.


    </p>

    <hr />
</div>
