@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- HEADER -->

<br />

<div class="header">

    <h1>Hi I'm Thomas Rosales</h1>

    <h2>ASP.NET - Web Developer - C# - HTML - JS - SQL</h2>

    <ul class="social-buttons">



        <li>

            <a title="Email" href="mailto:thomaswar3@gmail.com">

                <i class="fa fa-at"></i>

            </a>

        </li>



        <li>

            <a title="Twitter" href="https://twitter.com/thomasrosalesz" target="_blank">

                <i class="fa fa-twitter"></i>

            </a>

        </li>



        <li>

            <a title="GitHub" href="https://github.com/thwar" target="_blank">

                <i class="fa fa-github"></i>

            </a>

        </li>

        <li>

            <a title="Instagram" href="https://www.instagram.com/trosalz/" target="_blank">

                <i class="fa fa-instagram"></i>

            </a>

        </li>
    </ul>

</div>



<div class="content">


    <div id="projects" class="pure-g">

        <div class="pure-u-1-1 pure-u-sm-1-2">

            <h2 class="content-subhead">Featured Project:</h2>


            <figure class="snip1577">
                <img src="@Model.Project.FirstOrDefault().ImageUrl">
                <figcaption>
                    <h3> @Model.Project.FirstOrDefault().Name</h3>
                    <h4>@Model.Project.FirstOrDefault().ShortDescription</h4>
                </figcaption>
                <a href="@Model.Project.FirstOrDefault().Link"></a>
            </figure>
        </div>


        <div class="pure-u-1-1 pure-u-sm-1-2">
            <h2 class="content-subhead">&nbsp;</h2>
            <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/234215908&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        </div>
    </div>





</div>


