@page
@model MusicModel
@{
    ViewData["Title"] = "Music";
}


<style>

    #player {
        margin: 0 auto;
    }
     
</style>

<div class="content ">

    <div class="header">
        <h2 style="text-align :left;">Thomas Rosales - Music</h2>
    </div>

    <br />

    <div id="music" class="pure-g">


        <iframe id="player"style="border: 0; width: 400px; height: 836px;" src="https://bandcamp.com/EmbeddedPlayer/album=1150665701/size=large/bgcol=ffffff/linkcol=333333/transparent=true/" seamless><a href="http://thomasrosales.bandcamp.com/album/life-currently-part-1-coleccion-de-ruido-vol-vi">life currently - part 1 (Coleccion de Ruido Vol. VI) by Thomas Rosales</a></iframe>
    </div>
</div>
