@page
@model Resume
@{
    ViewData["Title"] = "Resume";
}


<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font: 16px Helvetica, Sans-Serif;
        line-height: 24px;
        background: url(images/noise.jpg);
    }

    .clear {
        clear: both;
    }

    #page-wrap {
        width: 100%;
        margin: 30px auto 60px;
        min-width: 700px;
    }

    #pic {
        float: right;
        margin: -30px 0 0 0;
    }

    h1 {
        margin: 50px 0 16px 0;
        padding: 0 0 16px 0;
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 1px;
        border-bottom: 1px solid #999;
    }

    h2 {
        font-size: 20px;
        margin: 0 0 6px 0;
        position: relative;
    }

        h2 span {
            position: absolute;
            bottom: 0;
            right: 0;
            font-style: italic;
            font-family: Georgia, Serif;
            font-size: 16px;
            color: #999;
            font-weight: normal;
        }

    p {
        margin: 0 0 16px 0;
    }

    a {
        color: #999;
        text-decoration: none;
        border-bottom: 1px dotted #999;
    }

        a:hover {
            border-bottom-style: solid;
            color: black;
        }

    ul {
        margin: 0 0 32px 17px;
    }
</style>

<div class="content ">

    <div class="header">
        <h2 style="text-align :left;">Thomas Rosales - Resume</h2>
    </div>


    <div id="resume" class="">


        <div id="page-wrap">
            Last Updated: 12/20/2018
            <div>

                <h1>Experience</h1>

                <div>
                    <h2>Referral Rock<span>Software Engineer - 7/2017 to Present</span></h2>
                    <ul>
                        <li>Full stack ASP.NET C# developer for the product team. </li>
                        <li>Focused on constantly improving and adding new features to the product.</li>
                    </ul>

                    <h2>OST, Inc<span>.NET Developer - 9/2016 to 7/2017</span></h2>
                    <ul>
                        <li>
                            Contract supporting the U.S. Department of Veterans Affairs.
                        </li>
                        <li>
                            Responsible for the development of EMS modules, ensuring that design aligns with system requirements, GOTS system architecture and framework implementing assigned components as defined in the system design and linking components to functional requirements.
                        </li>
                        <li>Utilized agile development methodologies to accelerate development while ensuring quality.</li>
                    </ul>

                    <h2>Multivision<span>.NET Developer - 6/2013 to 8/2016</span></h2>
                    <ul>
                        <li>Multiple client contract including: Dulles Glass and Mirror, Alabama Department of Transportation (ALDOT) and Administration for Children and Families (ACF)</li>
                        <li>Analyzed business requirements and translated them into design for the various features/modules.
                        </li>
                        <li>Involved in the entire lifecycle of the project from approval and requirements analysis, design, development, testing and deployment.</li>
                        <li>Agile/Scrum Software Development</li>
                    </ul>



                </div>

                <div class="clear"></div>

                <h1>Education</h1>


                <h2>George Mason University <span>Graduated 12/2013</span></h2>
                <p>
                    <strong>Major:</strong> Applied Information Technology, BS <br/> Web Development Concentration<br>
                </p>

                <div class="clear"></div>

                <h1>Skills</h1>

                <h2>General</h2>
                <p>MS Office Suite, Windows OS</p>
                <h2>Programming</h2>
                <p>
                    <strong>.NET Frameworks:</strong> ASP.NET Web Site/Application, Webforms, SignalR, .NET Core, MVC, WCF, LINQ, Web Services<br>
                    <strong>Imperative Languages:</strong> C#<br>
                    <strong>Markup Languages:</strong> XML, JSON, HTML/CSS<br>
                    <strong>Scripting Languages:</strong> PHP, JavaScript (JQuery/Ajax/AngularJS)<br>
                    <strong>Database:</strong> SQL, MySQL<br>
                    <strong>Source Control:</strong> Git, TFS, Visual Studio Online<br>
                    <strong>IDE:</strong> Visual Studio, SQL Server Management Studio, Eclipse, Dreamweaver
                </p>

                <div class="clear"></div>

                <h1>Certifications</h1>
                <ul>
                    <li>Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3</li>
                    <li>Web Apps Development with MS .NET Framework 4 (MCTS: 070-515)
                    </li>
                    <li>Accessing Data with MS .NET Framework 4 (MCTS: 070-516)</li>
                    <li>Installing, Configuring, and Administering MS XP Professional (MCP: 070-270)</li>
                    <li>CompTIA A+ (Depot Technician)</li>
                </ul>



                <h1>References</h1>
                <p>Available on request</p>

                <div class="clear"></div>
            </div>

        </div>



    </div>

</div>
