<html ng-app='myApp'>
<head>
<title>app</title>
	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"/>
	    <script src="script.js"/>
</head>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '660773980731130',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "http://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));





</script>


 <!-- Body tag augmented with ngController directive  -->
 <body ng-controller="MainCtrl">
   <input ng-model="eventId" value="bar">
   <!-- Button tag with ng-click directive, and
          string expression 'buttonText'
          wrapped in "{{ }}" markup -->
   <button ng-click="submit()"></button>

 </body>
</html>