@page
@model ThomasRosales.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>

    .snip1577 img {
        height: 190px;
    }

</style>


<div class="content ">

    <div class="header">
        <h2 style="text-align :left;">Thomas Rosales - Projects</h2>
    </div>



    <div id="projects" class="pure-g">



        @foreach (var item in Model.Project.OrderBy(x=> Guid.NewGuid()).ToList())
        {
            <div class="pure-u-1-1 pure-u-sm-1-3">

                <figure class="snip1577">
                    <img target="_blank" src="@Html.DisplayFor(modelItem => item.ImageUrl)">
                    <figcaption>
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <h4> @Html.DisplayFor(modelItem => item.ShortDescription)</h4>
                    </figcaption>
                    <a href="@Html.DisplayFor(modelItem => item.Link)"></a>
                </figure>
            </div>


        }

    </div>

</div>