html {
}

body {
    color: #777;
    font-family: nova;
    background: #f5fafa url("/img/overlay.png");
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

h3 {
    text-align: center;
}


/*MY CUSTOM CSS*/

@font-face {
    font-family: nova;
    src: url(NovaRegular.otf);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#layout {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
    /* the bottom margin is the negative value of the footer's height */
}

.push {
    height: 20px;
    /* .push must be the same height as .footer */
    text-align: center;
}

.footer {
    text-align: center;
    float: right;
    padding-right: 30px;
}

#name {
    padding: 0.6em 0 0.6em 0.6em;
    text-align: center;
}

a {
    text-decoration: none;
    color: #3b8bba;
}

    a:visited {
        /*color: #265778;*/
        color: #3b8bba;
    }

    a:hover {
        color: #777;
    }

.projectLinks {
    padding-left: 5px;
    font-weight: normal;
    font-size: 85%;
}



.fa {
    font-size: 25px !important;
    padding-top: 8px !important;
}

.social-buttons {
    padding: 0;
    text-align: center;
}

    .social-buttons li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
        transform: scale(.1);
        transition: .3s;
        -webkit-transition-delay: 2s;
        /* Safari */
        transition-delay: .3s;
    }

        .social-buttons li a {
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            outline: 0;
            color: #fff;
            background-color: #222;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .5s;
            text-align: center;
        }

            .social-buttons li a:hover {
                background-color: #26A69A;
            }

.projectHeader {
    line-height: 1em;
}

.projectImg {
    float: left;
    padding-right: 10px;
    width: 150px;
}


.description {
    padding-left: 10px;
}

.vdivider {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 15px;
    padding-right: 10px;
}

.aboutPic {
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}


/*
Add transition to containers so they can push in and out.
*/

#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}


/*
This is the parent `<div>` that contains the menu and the content area.
*/

#layout {
    position: relative;
    padding-left: 0;
}

    #layout.active {
        position: relative;
        left: 300px;
    }

        #layout.active #menu {
            left: 300px;
            width: 300px;
        }

        #layout.active .menu-link {
            left: 300px;
        }


/*
The content `<div>` is where all your content goes.
*/

.content {
    margin: 0 auto;
    padding: 0 2em;
    /*  max-width: 900px;*/
    min-width: 450px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
    margin: 0;
    color: #333;
    text-align: center;
    padding: 2.5em 2em 0;
    border-bottom: 1px solid #eee;
}

    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }

    .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 35px 0 20px 0;
    font-weight: 300;
    color: #888;
}


/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    font-family: nova, sans-serif;
    margin-left: -300px;
    /* "#menu" width */
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    /* so the menu or its navicon stays above all content */
    background: #222629 url("/img/overlay.png");
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}


    /*
    All anchors inside the menu should be styled like this.
    */

    #menu a {
        color: #999;
        border: none;
        padding: 1em 0 1em 0.6em;
    }

    #menu #nav a {
        padding-left: 12EM;
    }


    /*
    Remove all background/borders, since we are applying them to #menu.
    */

    #menu .pure-menu,
    #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

.pure-menu ul {
    position: initial;
    visibility: visible;
}

#nav li ul {
    background-color: black !important;
    display: none;
    border-bottom: 1px solid #333 !important;
}

    #nav li ul li a {
        padding-left: 150px !important;
    }


/*
    Add that light border to separate items into groups.
    */

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
    border-top: 1px solid #333;
}


/*
        Change color of the anchor links on hover/focus.
        */

#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: rgba(51, 51, 51, 0.6);
    /*color: #fff !important;*/
}


/*
        This styles a link within a selected menu item `<li>`.
        */

#menu .pure-menu-selected a,
.selected,
#menu .active {
    color: #fff !important;
    background: rgba(51, 51, 51, 0.6);
}

#menu .pure-menu-selected a,
#nav > li > a.selected {
    color: #fff !important;
    background: #333;
    box-shadow: inset 3px 0 0 #3b8bba;
}


/*
    This styles the menu heading.
    */

#menu .pure-menu-heading {
    font-size: 140%;
    color: #fff;
    margin-top: 75px;
    cursor: default;
}

    #menu .pure-menu-heading:hover {
    }


/* -- Dynamic Button For Responsive Menu -------------------------------------*/


/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/


/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/

.menu-link {
    position: fixed;
    display: block;
    /* show this only on small screens */
    top: 0;
    left: 0;
    /* "#menu width" */
    background: #000;
    background: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

        .menu-link span,
        .menu-link span:before,
        .menu-link span:after {
            background-color: #fff;
            width: 100%;
            height: 0.2em;
        }

            .menu-link span:before,
            .menu-link span:after {
                position: absolute;
                margin-top: -0.6em;
                content: " ";
            }

            .menu-link span:after {
                margin-top: 0.6em;
            }


/* -- Responsive Styles (Media Queries) ------------------------------------- */


/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/

@media (min-width: 48em) {
    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 325px;
        /* left col width "#menu" */
        left: 0;
    }

    #menu {
        left: 300px;
    }

    .menu-link {
        position: fixed;
        left: 300px;
        display: none;
    }

    #layout.active .menu-link {
        left: 300px;
    }
}


/*Footer Fix*/

@media (max-width: 48em) {
    .footer {
        padding-left: 0;
    }
}

@media (min-width: 1300px) {
    .leftContent {
        margin-left: 80px;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    iframe {
        margin-top: -50px !important;
    }

    .content {
        min-width: 1px;
    }

    .vdivider {
        border-right: 0px solid rgba(0, 0, 0, 0.1);
        margin-right: 0px;
        padding-right: 0px;
    }
}
